body {
    font-weight: bold;
    margin: 0px; 
    padding: 0px;
}

h2 {
    color: #fefcf9;
}

h3 {
    color: #202126;
    background-color: #fefcf9;
    padding: 25px;
    border-radius: 8px;
    opacity: .7;
}

.background { 
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    height: 100vh;
}

.row {
    height: 33%;
}

.character {
    background-color: #fefcf9;
    color: #202126;
    max-width: 225px;
}

#kanan {

}

#ahsoka {

}

#inquisitor {

}

#thrawn {

}