body {
    font-weight: bold;
    margin: 0px; 
    padding: 0px;
}

h2 {
    color: #fefcf9;
}

.background { 
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    height: 100vh;
}

.row {
    height: 33%;
}

.character {
    background-color: #fefcf9;
    color: #202126;
    height: 175;
    width: 175;
}